.restCounter{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #circle{
        stroke-dasharray: 439;
        transform-origin:50% 50%;
        transform:rotate(-90deg);
        stroke: url(#gradient);
        stroke-linecap: round;
    }
    .time{
      z-index:1;
      font-size:40px;
      position: absolute;
      color:white;
    }
  }