.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;

    h1{
        margin:20px;
    }

    .rounds{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:60vw;
        margin:20px;
    }
    .active{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:60vw;
        margin:20px;
    }
    .rest{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:60vw;
        margin:20px;
    }

    button{
        cursor: pointer;
        background-color:white;
        color:#00aeef;
        border:none;
        outline:none;
        width:30px;
        height: 30px;
        border-radius:25px;
        font-size:20px;
    }
}