.roundMarker{
    margin:30px;
    margin-top:40px;
    .markers{
        list-style-type: none;
        display:flex;
        .marker{
            list-style-type: none;
            width:10px;
            height:10px;
            border-radius:13px;
            margin:3px;
        }
    }
}